In [58]:
import numpy as np

from core import Plato
from utils.data_generator import DataGenerator

In [59]:
plato = Plato()

## Setting up a project

In [60]:
project = plato.create_project('my_project', "develop familiarity of the Plato system" )

2024-06-27 15:04:45,038 - plato_lite - INFO - Project 'my_project' initialized with goal: 'develop familiarity of the Plato system'
2024-06-27 15:04:45,038 - plato_lite - INFO - Project 'my_project' initialized with goal: 'develop familiarity of the Plato system'
2024-06-27 15:04:45,038 - plato_lite - INFO - Project 'my_project' initialized with goal: 'develop familiarity of the Plato system'
2024-06-27 15:04:45,038 - plato_lite - INFO - Project 'my_project' initialized with goal: 'develop familiarity of the Plato system'
2024-06-27 15:04:45,040 - plato_lite - INFO - core.py:32 - create_project() - Created new project: my_project
2024-06-27 15:04:45,040 - plato_lite - INFO - core.py:32 - create_project() - Created new project: my_project
2024-06-27 15:04:45,040 - plato_lite - INFO - core.py:32 - create_project() - Created new project: my_project
2024-06-27 15:04:45,040 - plato_lite - INFO - core.py:32 - create_project() - Created new project: my_project

In [61]:
project.add_note("This is a note for the project")

2024-06-27 15:04:45,043 - plato_lite - INFO - Note added: This is a note for the project
2024-06-27 15:04:45,043 - plato_lite - INFO - Note added: This is a note for the project
2024-06-27 15:04:45,043 - plato_lite - INFO - Note added: This is a note for the project
2024-06-27 15:04:45,043 - plato_lite - INFO - Note added: This is a note for the project

## Generating data for the project

In [62]:
row_count = 100000
   
generator = DataGenerator(row_count, seed=42)
generator.add_numerical("age", min_value=18, max_value=80, distribution="normal")
generator.add_categorical("gender", categories=["Male", "Female", "Other"], weights=[0.48, 0.48, 0.04])
generator.add_datetime("registration_date", start_date="2020-01-01", end_date="2023-06-30")
generator.add_text("comment", min_words=5, max_words=20)
generator.add_email("email")
generator.add_phone_number("phone")
generator.add_dependent("salary", depends_on="age", func=lambda age: age * 1000 + np.random.normal(0, 5000, len(age)))
generator.add_custom("id", lambda: [f"USER_{i:04d}" for i in range(row_count)])
    
df = generator.generate()

In [63]:
project.add_note("Generated data for the project with {} rows".format(row_count))

2024-06-27 15:04:50,946 - plato_lite - INFO - Note added: Generated data for the project with 100000 rows
2024-06-27 15:04:50,946 - plato_lite - INFO - Note added: Generated data for the project with 100000 rows
2024-06-27 15:04:50,946 - plato_lite - INFO - Note added: Generated data for the project with 100000 rows
2024-06-27 15:04:50,946 - plato_lite - INFO - Note added: Generated data for the project with 100000 rows

In [64]:
project.add_artifact("data", "Generated data", df)

2024-06-27 15:04:50,949 - plato_lite - INFO - Artifact added: data
2024-06-27 15:04:50,949 - plato_lite - INFO - Artifact added: data
2024-06-27 15:04:50,949 - plato_lite - INFO - Artifact added: data
2024-06-27 15:04:50,949 - plato_lite - INFO - Artifact added: data

In [65]:
project.save()

In [66]:
project.artifacts

{'data':              age  gender          registration_date  \
 0      54.132713    Male 2022-03-26 21:48:22.593507
 1      47.571269  Female 2020-02-01 21:55:45.724580
 2      55.692782    Male 2020-12-16 22:29:52.244649
 3      64.737975  Female 2020-10-11 19:36:20.322250
 4      46.580415    Male 2022-07-28 17:41:40.065211
 ...          ...     ...                        ...
 99995  46.672676    Male 2022-02-14 07:55:43.670381
 99996  43.112299  Female 2020-04-26 00:38:45.089212
 99997  53.228246  Female 2021-06-12 23:08:18.683195
 99998  46.818719  Female 2020-06-08 09:05:38.724868
 99999  50.240650  Female 2022-01-14 04:21:15.229694

                                                  comment  \
 0      Agent every development say quality throughout...
 1                 Behavior discussion own night respond.
 2      Information last everything thank serve civil ...
 3      Southern role movie win her need stop peace te...
 4      World talk term herself law street class great...
 ...                                                  ...
 99995  Cost model environmental eat skill page nor ra...
 99996  Wide mission bank yes method prevent idea futu...
 99997  Beat sell money spend although million cover n...
 99998  Pattern leg serve drug bank operation she task...
 99999  Establish attorney leader attorney stage quite...

                             email                 phone        salary  \
 0          jonathan49@example.net     963.674.5687x8327  53078.156503
 1           nwilliams@example.net  001-941-284-1208x964  51515.313162
 2      gonzalesashley@example.com      001-802-373-2646  64421.367606
 3            ashley03@example.com            2816413306  64146.240531
 4             dalekim@example.com   (345)850-8699x15084  44467.737544
 ...                           ...                   ...           ...
 99995       timothy63@example.net      355-756-1249x273  49769.578937
 99996        jsanchez@example.org     (709)838-2588x681  37023.844401
 99997    chambersmary@example.net    (971)814-5323x2217  53867.278030
 99998  nicolesullivan@example.com      999.912.4653x993  42367.384560
 99999    deannaingram@example.com    (915)226-1273x7826  51757.277988

                id
 0       USER_0000
 1       USER_0001
 2       USER_0002
 3       USER_0003
 4       USER_0004
 ...           ...
 99995  USER_99995
 99996  USER_99996
 99997  USER_99997
 99998  USER_99998
 99999  USER_99999

 [100000 rows x 8 columns]}

In [67]:
project.notes

[{'timestamp': '2024-06-27 15:04:45',
  'content': 'This is a note for the project'},
 {'timestamp': '2024-06-27 15:04:50',
  'content': 'Generated data for the project with 100000 rows'}]

In [68]:
project.name, project.goal

('my_project', 'develop familiarity of the Plato system')

## Using Data Manager

In [69]:
plato.data_manager.save_data(df, "my_data.csv")

2024-06-27 15:04:51,310 - plato_lite - INFO - Data saved to my_data.csv
2024-06-27 15:04:51,310 - plato_lite - INFO - Data saved to my_data.csv
2024-06-27 15:04:51,310 - plato_lite - INFO - Data saved to my_data.csv
2024-06-27 15:04:51,310 - plato_lite - INFO - Data saved to my_data.csv

In [70]:
plato.data_manager.load_data("my_data.csv")

2024-06-27 15:04:51,495 - plato_lite - INFO - Data loaded from my_data.csv
2024-06-27 15:04:51,495 - plato_lite - INFO - Data loaded from my_data.csv
2024-06-27 15:04:51,495 - plato_lite - INFO - Data loaded from my_data.csv
2024-06-27 15:04:51,495 - plato_lite - INFO - Data loaded from my_data.csv

,Unnamed: 0,age,gender,registration_date,comment,email,phone,salary,id
0,0,54.132713,Male,2022-03-26 21:48:22.593507,Agent every development say quality throughout...,jonathan49@example.net,963.674.5687x8327,53078.156503,USER_0000
1,1,47.571269,Female,2020-02-01 21:55:45.724580,Behavior discussion own night respond.,nwilliams@example.net,001-941-284-1208x964,51515.313162,USER_0001
2,2,55.692782,Male,2020-12-16 22:29:52.244649,Information last everything thank serve civil ...,gonzalesashley@example.com,001-802-373-2646,64421.367606,USER_0002
3,3,64.737975,Female,2020-10-11 19:36:20.322250,Southern role movie win her need stop peace te...,ashley03@example.com,2816413306,64146.240531,USER_0003
4,4,46.580415,Male,2022-07-28 17:41:40.065211,World talk term herself law street class great...,dalekim@example.com,(345)850-8699x15084,44467.737544,USER_0004
...,...,...,...,...,...,...,...,...,...
99995,99995,46.672676,Male,2022-02-14 07:55:43.670381,Cost model environmental eat skill page nor ra...,timothy63@example.net,355-756-1249x273,49769.578937,USER_99995
99996,99996,43.112299,Female,2020-04-26 00:38:45.089212,Wide mission bank yes method prevent idea futu...,jsanchez@example.org,(709)838-2588x681,37023.844401,USER_99996
99997,99997,53.228246,Female,2021-06-12 23:08:18.683195,Beat sell money spend although million cover n...,chambersmary@example.net,(971)814-5323x2217,53867.278030,USER_99997
99998,99998,46.818719,Female,2020-06-08 09:05:38.724868,Pattern leg serve drug bank operation she task...,nicolesullivan@example.com,999.912.4653x993,42367.384560,USER_99998
99999,99999,50.240650,Female,2022-01-14 04:21:15.229694,Establish attorney leader attorney stage quite...,deannaingram@example.com,(915)226-1273x7826,51757.277988,USER_99999